/* App Container */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
  }
  
  /* Homepage Styles */
  .homepage-container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .homepage-heading {
    color: #333;
    margin-bottom: 20px;
  }
  
  .homepage-paragraph {
    color: #666;
    margin-bottom: 30px;
  }
  
  .homepage-nav {
    margin-top: 20px;
  }
  
  .homepage-link {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
  }
  
  /* Login Page Styles */
  .login-container {
    max-width: 500px;
    width: 200%;
    padding: 50px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .login-heading {
    color: #333;
    background-image: url('//react-project/src/premium_photo-1661883237884-263e8de8869b.jpeg');
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;

  }
  
  .login-form-group {
    margin-bottom: 15px;
  }
  
  .login-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Signup Page Styles */
  .signup-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .signup-heading {
    color: #333;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-form-group {
    margin-bottom: 15px;
  }
  
  .signup-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .signup-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  .bgimage{
    background-image: url('//react-project/src/premium_photo-1661883237884-263e8de8869b.jpeg');
    height: fit-content;
    
  }
  